* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* img {
	width: 100%;
} */

/* .box {
	background-color: red;
	width: 100px;
	height: 100px;
	transition: background-color 0.5s, width 0.5s, height 0.5s;
}

.box--acitve {
	background-color: blue;
	width: 200px;
	height: 200px;
} */

/* .box--desactive {
} */


body {
	background-color: rgb(7, 1, 34);

}
.user {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.user div {
  background-color: rgb(34, 4, 82);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
  flex-basis: calc(33% - 1rem);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.user div:hover {
	background-color: rgb(5, 46, 107);
	transform: scale(0.95);
}

ul {
	padding-left: 2rem;
	text-transform: capitalize;
	line-height: 1.5rem;
}

.user h2 {
	text-transform: capitalize;
}
